*{
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
}
body{
	background-color: black;
}
#Titulo-principal{
	background-color: lightgray;
	padding: 10px;
	margin: 15px 10px 10px 10px;
	border: 5px groove; black;
	border-radius: 20px;
}
#Titulo-principal-h1{
	background-color: darkgray;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	width: 50vw;
	text-align: center;
	border: 2px solid #000;
	border-radius: 10px;
	box-shadow: 10px 6px 1px 5px black;
}
section{
	background-color: lightgray;
	display: inline-block;
	padding: 10px;
	margin: 10px 10px 10px 10px;
	border: 2px solid white;
}
article{
	background-color: darkgray;
	display: inline-block;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
	border: 3px solid black;
}
.section-article__pre-encabezados{
	font-size: 17px;
	background-color: #000;
	color: white;
}