*{
	margin: 0px;
	padding: 0px;
}
ol{
	list-style: none;
}
body{
	margin: 20px;
	padding: px;
}
h1{
	background-color: gray;
	width: 600px;
}
h2{
	background-color: palegreen;
}
section{
	background-color: lightgray;
	width: 70%;
}
article{
	background-color: lightsteelblue;
}
pre{
	background-color: black;
	color: white;
	font-size: 4mm;
}